.form-control {
    margin-bottom: 20px;
}

#avatar {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  height: 300px;
}

.btn {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 200px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.87);
  color: #dcdcdc;
}

.form-error {
  color: red;
}